---
import type { Ancestor } from "@/utils/pages";

interface Props {
  ancestors: Ancestor[];
  currentPageTitle: string;
}

const { ancestors, currentPageTitle }: Props = Astro.props;
---

{
  ancestors.length > 0 && (
    <nav class="page__crumbs" aria-label="Breadcrumb">
      <ol class="page__crumbs-list">
        {ancestors.map((ancestor) => (
          <li class="page__crumbs-item">
            <a href={ancestor.href}>{ancestor.title}</a>
          </li>
        ))}
        <li class="page__crumbs-item is-current" aria-current="page">
          {currentPageTitle}
        </li>
      </ol>
    </nav>
  )
}

<style>

    .page__crumbs {
    align-self: flex-start;
  }

  .page__crumbs-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

  }

  .page__crumbs-item {
    font-family: var(--font-body);
    font-size: var(--font-size-2);
    color: light-dark(var(--gray-6), var(--gray-4));

    &:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 0.4em;
      height: 0.4em;
      margin-inline: var(--size-2);
      vertical-align: middle;
      border-top: 1.5px solid light-dark(var(--gray-5), var(--gray-5));
      border-right: 1.5px solid light-dark(var(--gray-5), var(--gray-5));
      transform: rotate(45deg);
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

</style>