---
interface Props {
  title: string;
  links: FooterLinks;
}

type FooterLinks = {
  label: string;
  url: string;
}[];

const { title, links }: Props = Astro.props;
---

<footer class="footer">
  <a class="site-title" href="/">{title}</a>
  <p class="acknowledgment">
    Developed with ❤️ by Kaveh Rafie
    <!-- <a href="https://astro.build" target="_blank" rel="noopener">Astro</a> -->
  </p>
  <div class="footer-links">
    {
      links.map((link) => {
        return (
          <a class="footer-link" href={link.url} target="_blank" rel="noopener">
            {link.label}
          </a>
        );
      })
    }
    {
      /* <a href="https://astro.build" target="_blank" rel="noopener">Astro</a> */
    }
  </div>
</footer>

<style lang="postcss">
  @import "open-props/media.min.css";

  .footer {
    padding-block: var(--size-7);
    padding-inline: var(--size-3);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--size-2);
  }

  .acknowledgment {
    font-size: var(--font-size-0);
    color: light-dark(var(--gray-7), var(--gray-7));
    margin: 0;
  }

  .site-title {
    font-family: var(--font-heading);
    font-size: var(--font-size-2);
    font-weight: 600;
    color: light-dark(var(--gray-8), var(--gray-6));
    border-bottom: 1px solid light-dark(var(--gray-2), var(--gray-8));
    padding-block-end: var(--size-2);
    text-decoration: none;
  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-2);
  }

  .footer-link {
    font-size: var(--font-size-0);
    text-decoration: none;
    color: light-dark(var(--gray-7), var(--gray-6));
    transition: color 0.15s ease;
  }

  .footer-link:hover {
    color: light-dark(var(--gray-9), var(--gray-3));
  }

  @media (--md-n-above) {
    .footer {
      padding-block-start: var(--size-relative-12);
      padding-block-end: var(--size-relative-6);
      padding-inline: var(--size-relative-12);
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto 1fr;
      grid-template-areas:
        "title title"
        "links acknowledgment";
      gap: 0;
    }

    .acknowledgment {
      padding-block: var(--size-relative-4);
      grid-area: acknowledgment;
      font-size: calc(var(--size-3) * 0.875);
    }

    .site-title {
      grid-area: title;
      font-size: var(--size-3);
      padding-block: var(--size-relative-4);
      font-weight: 400;
    }

    .footer-links {
      padding-block: var(--size-relative-4);
      grid-area: links;
      flex: 1;
      width: 100%;
      gap: var(--size-3);
    }

    .footer-link {
      font-size: inherit;
    }
  }
</style>
