@layer base, component, utility;

@import "open-props/normalize";

:root {
  --font-heading: var(--font-display);
  --font-body: var(--font-satoshi);
  --border-color: light-dark(var(--gray-5), var(--gray-7));
}
