---
import { Font } from "astro:assets";
import "@/assets/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <Font cssVariable="--font-satoshi" />
    <Font cssVariable="--font-display" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <aside></aside>
    <main>
      <slot />
      <footer>
        <p>
          Made with ❤️ by
          <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>
        </p>
      </footer>
    </main>
  </body>
</html>

<style>
  body {
    overflow: hidden;
    --_sheet-width: var(--size-12);
    display: grid;
    grid-template-columns: var(--_sheet-width) 1fr;
    grid-template-rows: 1fr;
    transition: grid 0.2s;
  }
  body:has(aside:hover) {
    --_sheet-width: var(--size-header-2);
  }
  aside {
    border-right: 1px solid var(--border-color);
    cursor: pointer;
    transition:
      background-color 0.2s,
      grid 0.2s;
  }
  main {
    --_section-gap: 2em;
    /* min-width: calc(100vw - var(--_sheet-width)); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--_section-gap);
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
  }
</style>
